@model IEnumerable<Legend_clinic.Models.DrugRequest>

@{
    ViewData["Title"] = "Drug Requests";
    Layout = "~/Views/Shared/_LayoutChemist.cshtml";
}

<h2>Drug Requests</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Physician</th>
            <th>Drug Info</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PhysicianId</td>
                <td>@item.DrugInfoText</td>
                <td>@item.RequestDate.ToString("yyyy-MM-dd")</td>
                <td>@item.RequestStatus</td>
                <td>
                    <a asp-action="UpdateRequestStatus"
                           asp-route-id="@item.DrugRequestId"
                           asp-route-status="Approved"
                           class="btn btn-success btn-sm">
                        Approve
                    </a>

                    <a asp-action="UpdateRequestStatus"
                           asp-route-id="@item.DrugRequestId"
                           asp-route-status="Rejected"
                           class="btn btn-danger btn-sm">
                        Reject
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>